@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #141414;
	color: #e1e3e6;
	--sb-track-color: #333232;
	--sb-thumb-color: #4f4f55;
	--sb-size: 7px;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

body::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 20px;
}

@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}
