@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #141414;
	color: #e1e3e6;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
@font-face {
	font-family: 'Poppins';
	src: url('/public/fonts/Poppins-Regular.ttf');
}
